* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  scroll-behavior: smooth;
}


:root {
  /* color */
  --black-color: #000000;
  --white-color: #ffffff;
  --teal-color: #007c7f;
  --light-gray: #cccccc;

  /* font family */
  --primary-font: "Roboto";
}

body {
  font-family: var(--primary-font);
}

.container {
  max-width: 1432px;
  width: 100%;
  margin-inline: auto;
  padding-inline: 1rem;
}

p {
  line-height: 150%;
  margin: 0;
}

ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
}

ul li {
  line-height: 150%;
  font-size: 16px;
  font-weight: 400;
  margin-bottom: 3px;
}

a {
  text-decoration: none;
}

.btn {
  font-size: 18px;
  font-weight: 400;
  background-color: var(--teal-color);
  color: var(--white-color);
  border: 1px solid var(--white-color);
  outline: none;
  padding: 10px 32px;
  text-align: center;
  display: inline-block;
  cursor: pointer;
  transition: 0.3s ease-in-out;
}

.btn:hover {
  background-color: transparent;
  border-color: var(--white-color);
}

.mt-10 {
  margin-top: 100px;
}

.mt-8 {
  margin-top: 80px;
}

.mt-6 {
  margin-top: 60px;
}

.mt-5 {
  margin-top: 50px;
}

.mt-4 {
  margin-top: 40px;
}

.mt-3 {
  margin-top: 32px;
}

.heading {
  text-align: center;
  font-size: 60px;
  font-weight: 400;
  line-height: normal;
  margin-bottom: 30px;
}

title {
  font-size: 24px;
  font-weight: 500;
}

.desc {
  color: var(--white-color);
  font-size: 16px;
  font-weight: 400;
}

.section {
  margin-block: 4rem;
}

.sec_content {
  max-width: 1024px;
  width: 100%;
  padding: 24px;
  border-radius: 4px;
  margin: 0 auto;
  box-shadow: rgb(7 7 7 / 10%) 0px 7px 29px 0px;
}

.sec_heading {
  font-size: 42px;
  font-weight: 800;
  text-align: center;
  color: var(--teal-color);
  line-height: 150%;
  margin-bottom: 40px;
}

.sec_title {
  font-size: 24px;
  color: var(--black-color);
  font-weight: 600;
  color: var(--teal-color);
  margin-block: 10px;
}

.sub_title {
  color: var(--teal-color);
  font-size: 20px;
  font-weight: 400;
  margin-bottom: 16px;
}

.sec_desc {
  font-size: 16px;
  font-weight: 400;
  margin-bottom: 8px;
  line-height: 150%;
}

.sec_list {
  margin-bottom: 16px;
}

.sec_item {
  list-style: disc;
  margin-left: 16px;
  /* color: var(--white-color); */
  line-height: 150%;
  margin-bottom: 4px;
}

.sec_item strong {
  color: var(--teal-color);
}

.sec_item::marker {
  color: var(--teal-color);
}

/* header section */
.header {
  transition: box-shadow 0.3s ease;
}
.header.shadow {
  /* background-color: var(); */
  background-color: var(--white-color);
  position: sticky;
  right: 0;
  top: 0;
  left: 0;
  box-shadow: rgba(149, 157, 165, 0.5) 0px 8px 24px !important;
z-index: 2;
transition: box-shadow 0.3s ease;
}

.header_wrappr {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-block: 1rem;
}

.header_logo {
  width:14%;
}

.header_logoLnk {
  background-image: url(../images/logo.svg);
  height: 94px;
  width: 94px;
  background-repeat: no-repeat;
  background-size: contain;
  background-position: center;
  display: block;
}

.header_navbar {
  /* width: 75%; */
  display: flex;
  justify-content: end;
  align-items: center;
}

.header_list {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-block: 12px;
}

.header_item {
  padding-inline: 20px;
}

.header_link {
  color: var(--teal-color);
  font-size: 18px;
  position: relative;
  transition: all 0.3s ease-in-out;
}
.header_link:hover {
color: var(--black-color);
}


.header_link::after {
  width: 0%;
  position: absolute;
  content: "";
  bottom: -6px;
  right: 0;
  background-color: var(--black-color);
  height: 2px;
  border-radius: 4px;
  transition: all 0.3s ease-in-out;
}

.header_link:hover::after {
  width: 100%;
  left: 0;
}

.header_link.active::after {
  width: 100%;
}

.header_right {
  display: flex;
  gap: 20px;
}

.header_right .btn {
  border-color: transparent;
  padding: 8px 16px;
  color: var(--teal-color);
  background-color: var(--white-color);
  border-radius: 8px;
}

.header_right .btn:hover {
  border-color: var(--white-color);
  background-color: transparent;
  color: var(--white-color);
}

.humburger {
  display: none;
}

.humburger_icon,
.close_menuIcon {
  background-image: url("../images/humburger.png");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  width: 30px;
  height: 30px;
  /* filter: invert(1); */
  cursor: pointer;
}

.close_menuIcon {
  background-image: url("../images/close.png");
  position: absolute;
  top: 24px;
  right: 15px;
  filter: invert(1);

}

.close_menu {
  display: none;
}

.header.fixheader {
  background-color: var(--black-color);
  box-shadow: rgb(238 238 238 / 56%) 0px 7px 29px 0px;
}

/* banner section */
.banner {
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  width: 100%;
  height: 500px;
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
  margin-bottom: 40px;
}

.banner_homepage {
  background-image: url("../images/home_banner.jpg");
}
.banner_fivestar{
  background-image: url("../images/five-star.jpg");
  
}

.banner::after {
  position: absolute;
  content: "";
  top: 0;
  right: 0;
  left: 0;
  bottom: 0;
  background-color: rgba(0, 0, 0, 0.4);
}

.banner_content {
  max-width: 900px;
  text-align: center;
  width: 100%;
  padding-inline: 4px;
  margin: 0 auto;
  z-index: 1;
}

.banner_content .banner_heading {
  margin-bottom: 12px;
  font-size: 60px;
}

.banner_desc {
  color: var(--white-color);
  margin-bottom: 10px;
}

.banner_heading {
  font-size: 70px;
  line-height: 100%;
  color: var(--white-color);
  margin-bottom: 25px;
  font-weight: 600;
  letter-spacing: -0.9px;
}

.banner_content .btn {
  padding: 10px 64px;
  border: none;
}

.banner_content .btn:hover {
  border-color: transparent;
  background-color: var(--white-color);
  color: var(--pre-blue);
}

.banner_btns a {
  padding: 12px 48px;
  border: 1px solid transparent;
}

.banner_desc {
  font-size: 20px;
  font-weight: 400;
  line-height: 150%;
}

.banner_btns {
  margin-top: 104px;
  gap: 2rem;
  display: flex;
  align-items: center;
}

.banner_btns .btn:hover {
  color: var(--white-color);
}

.banner_left {
  width: 50%;
  margin-bottom: 12px;
  padding-inline: 5%;
}

.banner_right {
  width: 50%;
}

.banner_right {
  background-image: url("../images/banner.jpg");
  height: 100vh;
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  display: block;
}

/* info section */
.info {
  background-color: var(--teal-color);
  padding-block: 50px;
}

.info_wrapper {
  max-width: 1024px;
  width: 100%;
  margin: 0 auto;
  text-align: center;
}

.info_desc {
  color: var(--white-color);
}

/* categoreis section */
.categories {
  margin-block: 50px;
}

.categories_wrapper {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 30px;
}

.categories_sec {
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  height: 320px;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  position: relative;
  /* border: 1px solid var(--black-color); */
  border-radius: 4px;
  box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
  transition: all 0.3s ease-in-out;
}

.categories_sec:hover {
  transform: translateY(5px);
}

.categories_sec::after {
  position: absolute;
  content: "";
  top: 0;
  right: 0;
  left: 0;
  bottom: 0;
  background-color: rgba(0, 0, 0, 0.4);
  border-radius: 4px;
}

.categories_content {
  z-index: 1;
}

.categories_desc {
  color: var(--white-color);
  font-weight: 800;
}

.categories_fiveStar {
  background-image: url("../images/five-star.jpg");
}

.categories_four {
  background-image: url("../images/four-star.webp");
}

.categories_three {
  background-image: url("../images/three-star.jpg");
}

.categories_Kasinohotell {
  background-image: url("../images/Kasinohotell.jpg");
}

/* why section */
.why_wrapper {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  row-gap: 48px;
  column-gap: 30px;
}

.why_sec {
  width: 100%;
  text-align: center;
  padding: 24px;
  border-radius: 4px;
  box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
}

.why_imgWrap {
  max-width: 74px;
  height: 74px;
  padding: 4px;
  margin: 0 auto;
  margin-bottom: 10px;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: var(--teal-color);

}

.why_img {
  max-width: 40px;
  height: 40px;
  width: 100%;
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  filter: invert(1);
}

.why_sec--curated .why_img {
  background-image: url("../images/why1.png");
}

.why_sec--Ordering .why_img {
  background-image: url("../images/why2.png");
}

.why_sec--info .why_img {
  background-image: url("../images/why3.png");
}

.why_sec--Offers .why_img {
  background-image: url("../images/why4.png");
}

.why_sec--reviews .why_img {
  background-image: url("../images/why5.png");
}

.why_sec--support .why_img {
  background-image: url("../images/why6.png");
}

.why_title {
  font-size: 20px;
  font-weight: 500;
  color: var(--teal-color);
  margin-bottom: 12px;
}

.why_desc {
  /* color: var(--light-gray); */
  font-size: 16px;
  font-weight: 400;
}

/* selected section */
.hotelSlct_wrapper {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 30px;
}

.hotelSlct_sec {
  border-radius: 4px;
  width: 100%;
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  height: 320px;
  position: relative;
}

.hotelSlct_sec::after {
  position: absolute;
  content: "";
  top: 0;
  right: 0;
  left: 0;
  bottom: 0;
  background-color: rgba(0, 0, 0, 0.3);
  border-radius: 4px;
}

.hotelSlct_sec--one {
  background-image: url("../images/hotel1.jpg");
}

.hotelSlct_sec--tow {
  background-image: url("../images/hotel2.jpg");
}

.hotelSlct_sec--three {
  background-image: url("../images/hotel3.webp");
}
.hotelSlct_sec--four {
  background-image: url("../images/hotel4.jpg");
}

/* signup section */
.signup {
  padding-block: 74px;
  background-image: url("../images/signup-bg.jpg");
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  height: 500px;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
  background-attachment: fixed;
  margin-bottom: 60px;
}

.signup::before {
  position: absolute;
  content: "";
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgb(0 0 0 / 55%);
  z-index: 0;
}

.signup .container {
  z-index: 1;
  color: var(--white-color);
}

.signup_innerSec {
  max-width: 850px;
  width: 100%;
  margin: 0 auto;
  border-radius: 4px;
  padding: 30px 16px;
  background-color: rgb(0 0 0 / 56%);
}

.signup_heading {
  font-size: 40px;
  font-weight: 500;
  margin-bottom: 16px;
  text-align: center;
}

.signup_form {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 10px;
  background-color: transparent;
  max-width: 500px;
  width: 100%;
  margin: 0 auto;
  padding-bottom: 12px;
  border-radius: 8px;
}

.signup_input {
  border-radius: 4px;
}

.submit_btn {
  border-radius: 4px;
}

.signup_email {
  display: flex;
  justify-content: space-between;
  gap: 8px;
  width: 65%;
  margin: 0 auto;
  align-items: center;
}

.signup_input {
  padding: 10px 14px;
  font-size: 18px;
  font-weight: 400;
  border: none;
  outline: none;
}

.signup_email::placeholder {
  font-size: 18px;
  font-weight: 400;
}

.signup_form .signup_input {
  width: 100%;
  border: 1px solid transparent;
}

.signup_form .signup_input:focus {
  border-color: var(--teal-color);
}

.submit_btn {
  width: 130px;
  color: var(--white-color);
  border-color: transparent;
}

.submit_btn:hover {
  border-color: var(--teal-color);
  color: var(--teal-color);
}
/* faq section */
.faq_wrapper{
  max-width: 1024px;
  width: 100%;
  margin: 0 auto;
}
.accordion-button{
  color: var(--white-color);
}
.accordion-button:not(.collapsed) {
  color:var(--white-color);
}
.accordion-button::after {
  color: white;
  filter: invert(1);
}
.accordion-button:not(.collapsed)::after {
  filter: brightness(0) saturate(100%) invert(99%) sepia(100%) saturate(2%) hue-rotate(48deg) brightness(104%) contrast(100%);
}
.accordion-flush .accordion-item .accordion-button{
  background-color: var(--teal-color);
  margin-bottom: 8px;
}
.accordion-flush .accordion-item .accordion-button:hover{
 opacity: 0.8;
}
.accordion-flush .accordion-item .accordion-button:focus{
  border-color: transparent;
  box-shadow: 0 0 0 0.5px rgba(13, 110, 253, 0.25);
}
.accordion-body{
border-radius: 8px;
border-left: 4px solid var(--teal-color);
margin-bottom: 4px;
}
/* footer section */
.footer {
  color: var(--white-color);
  box-shadow: 1px 1px 20px 1px var(--white-color);
  background-color: var(--black-color);
}

.footer_wrapper {
  display: flex;
  justify-content: space-between;
  gap: 1rem;
  flex-wrap: wrap;
  margin-bottom: 20px;
}

.footer a {
  color: var(--white-color);
}

.footer_left {
  width: 16%;
}

.footer_navbar {
  width: 23%;
}

.footer_socials {
  width: 20%;
}

.footer_content {
  max-width: 1024px;
  width: 100%;
  margin: 0 auto;
  text-align: center;
  padding-block: 50px;
}

.footer_icon {
  background-image: url("../images/logo.svg");
  height: 94px;
  width: 94px;
  background-repeat: no-repeat;
  background-position: center;
  background-size: contain;
  display: block;
}

.footer_title {
  margin-bottom: 1rem;
  font-size: 24px;
  font-weight: 500;
  color: var(--white-color);
}

.footer_link {
  display: inline-block;
  margin-bottom: 16px;
  font-size: 18px;
  color: var(--white-color);
  position: relative;
  transition: all 0.3s ease-in-out;
}

.footer_link::after {
  width: 0%;
  position: absolute;
  content: "";
  bottom: -6px;
  right: 0;
  background-color: var(--white-color);
  height: 2px;
  border-radius: 4px;
  transition: all 0.3s ease-in-out;
}

.footer_link:hover::after {
  width: 100%;
  left: 0;
}

.footer_socialsWrapp {
  display: flex;
  gap: 10px;
}

.footer_social {
  border: 1px solid var(--white-color);
  border-radius: 4px;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 6px;
  transition: all 0.3s ease-in-out;
  cursor: pointer;
}

.footer_social:hover {
  border-color: var(--teal-color);
  background-color: var(--teal-color);
}

.social_link {
  background-image: url("../images/facebook.png");
  background-repeat: no-repeat;
  background-size: contain;
  background-position: center;
  width: 30px;
  height: 30px;
  display: inline-block;
  font-size: 1rem;
  font-weight: 400;
  transition: all 0.3s linear;
  filter: invert(1);
}

.footer_copyRight p {
  font-size: 14px;
}

.footer_copyRight a:hover {
  text-decoration: underline;
}

.social_link--fb {
  background-image: url("../images/fb.png");
}

.social_link--inta {
  background-image: url("../images/insta.png");
}

.social_link--twitter {
  background-image: url("../images/twitter.svg");
  filter: grayscale(1);
}

.social_link--linkedin {
  background-image: url("../images/inkedIn.svg");
  filter: grayscale(1);
}

.footer_btm {
  border-top: 1px solid var(--white-color);
}

.footer_btmSec {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-block: 12px;
}

.footer_SSlLink {
  background-image: url("../images/ssl.svg");
  background-repeat: no-repeat;
  background-position: center;
  background-size: contain;
  width: 120px;
  height: 32px;
  display: block;
}
/* ====== */


/* Footer Pages CSS Start*/
.footer-pages-wrap {
  max-width: 81.25rem;
  margin: 0 auto;
  padding: 3.125rem 1.875rem;
  border-radius: 20px;
  box-shadow: #007c7f 0px 7px 11px 0px;
}

.footer-pages-content-grp {
  margin-bottom: 1.875rem;
  border: 1px dashed #007c7f;
  padding: 1.25rem;
  border-radius: 0.625rem;
}

.footer-pages-content-grp:last-child {
  margin-bottom: 0px;
}

.footer-pages-content-grp h3 {
  font-size: 1.5625rem;
  margin-bottom: 0.9375rem;
  color:#007c7f;
  line-height: 1.4;
}

.footer-pages-content-grp strong {
  font-size: 1.125rem;
}

.footer-pages-content-grp p {
  font-size: 1.0625rem;
  margin-bottom: 8px;
}

.footer-pages-content-grp ul {
  list-style: none;
  padding-left: 1.25rem;
}

.footer-pages-content-grp ul p strong {
  color: #007c7f;
}

.footer-pages-content-grp ul li {
  position: relative;
}

.footer-pages-content-grp ul li:before {
  content: ".";
  color: #007c7f;
  position: absolute;
  left: -20px;
  top: 0;
  font-size: 1.25rem;
}

.personal_banner {
  background-image: url(../images/personal_banner_image.jpg);
}

.privacy_banner {
  background-image: url(../images/privacy_banner_image.jpg);
}
.terms_banner {
  background-image: url(../images/terms_banner_image.jpg);
}
p a , ul li p a {
  color:#007c7f;
}

/* Footer Pages CSS End*/